.parent{
      display: flex;
      flex-direction: column-reverse;
      row-gap: 50px;

}

.Kriti{
      display: flex;
      flex-direction: column-reverse;
      row-gap: 40px;
      
      
}

.Newelement{
      display: flex; 
      column-gap: 50px;
      

}

