.container{
      width: 200px;
      height: 200px;
      background-color: cadetblue;
      display: flex;
      justify-content: center;
      align-items: center;
}
.box{
      width: 100px;
      height: 100px;
      background-color: chartreuse;
      

    transform: rotate(360deg);
    /* border-radius: 9999px; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.box:hover{
      background-color: chocolate;
      height: 50px;
      width: 50px;
      
}
.Myname:hover{
      color: aqua;
      
}

